
.header{
    width: 100%;
    min-height: 10vh;
    background-image: url(./aaron-burden-wPy71r8Hi_s-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header:before{
    content: '';
    width: 100%;
    min-height: 10vh;
    position: absolute;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255, .1), rgba(34,40,49, 1));
}

.bg-dark{
    position: fixed;
    z-index: 20;
    width: 100%;
}

@media (min-width: 768px){
    .bg-dark{
        background-color: transparent!important;
    }
}

.navg a{
    color: #f4f4f4!important;
    font-family: 'Montserrat' ;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.navg a:hover{
    background-color: #c1000038;
}

.jumbotron {
    min-height: 100vh;
    color: #3b1616;
    font-family: 'Montserrat';
    width: 100%;
    min-height: 40vh;
    background-image: url(./henry-be-IicyiaPYGGI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.jumbotron h2{
    font-family: 'Anton';
}

.jumbotron span{
    letter-spacing: 5px;
    font-size: 2em;
    font-family: 'Anton';
    margin: 0 0 0 5px;
}

.jumbotron p{
    font-size: 1em;
}

.btn-yo{
    padding: 7px 12px;
    color: #3b1616;
    background-color: transparent;
    font-size: 1.8rem;
    
}

.btn-yo:hover{
    color: #3b1616;
    background-color: transparent;
}

.btn-outline-success {
    color: #3b1616;
    border-color: #3b1616;
    margin-left: 10px;
}
.content-section {
    padding-top: 300px;
    padding-bottom: 7.5rem;
    width: 100%;
    min-height: 2vh;
}
.marca {
    text-align: center;
    margin-left: 400px;
    padding-top: 100px;
    width: auto;
    height: auto;

}